<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" >
        <a href="<%= @post ? "/" : ""%>" id="my_name" class="pure-menu-heading">Baptiste Brassart</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="<%= @post ? "/#projects" : "#projects"%>" class="pure-menu-link">Projects</a></li>
            <li class="pure-menu-item"><a href="<%= @post ? "/#blog" : "#blog"%>" class="pure-menu-link">Blog</a></li>
            <li class="pure-menu-item"><a href="<%= @post ? "/#github" : "#github"%>" class="pure-menu-link">GitHub</a></li>
            <li class="pure-menu-item"><a href="<%= @post ? "/#socialmedia" : "#socialmedia"%>" class="pure-menu-link">Social media</a></li>
            <li class="pure-menu-item"><a href="<%= @post ? "/#cv" : "#cv"%>" class="pure-menu-link">CV</a></li>
            <li class="pure-menu-item"><a href="<%= @post ? "/#contact" : "#contact"%>" class="pure-menu-link">Contact</a></li>
        </ul>
    </div>
</div>
