<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" >
        <a href="<%= @post ? "/" : ""%>" id="my_name" class="pure-menu-heading">Baptiste Brassart</a>
        <div class="desktop-nav-menu">
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="<%= @post ? "http://bbrassart.me/#projects" : "#projects"%>" class="pure-menu-link">Projects</a></li>
            <li class="pure-menu-item"><a href="<%= @post ? "http://bbrassart.me/#blog" : "#blog"%>" class="pure-menu-link">Blog</a></li>
            <li class="pure-menu-item"><a href="<%= @post ? "http://bbrassart.me/#github" : "#github"%>" class="pure-menu-link">GitHub</a></li>
            <li class="pure-menu-item"><a href="<%= @post ? "http://bbrassart.me/#socialmedia" : "#socialmedia"%>" class="pure-menu-link">Social media</a></li>
            <li class="pure-menu-item"><a href="<%= @post ? "http://bbrassart.me/#cv" : "#cv"%>" class="pure-menu-link">CV</a></li>
            <li class="pure-menu-item"><a href="<%= @post ? "http://bbrassart.me/#contact" : "#contact"%>" class="pure-menu-link">Contact</a></li>
          </ul>
        </div>
        <div class="mobile-nav-menu">
          <select>
            <option value="" selected="selected">Go to</option>
            <option value= <%= @post ? "http://bbrassart.me/#projects" : "#projects" %> >Projects</option>
            <option value= <%= @post ? "http://bbrassart.me/#blog" : "#blog"%> >Blog</option>
            <option value= <%= @post ? "http://bbrassart.me/#github" : "#github"%> > GitHub</option>
            <option value = <%= @post ? "http://bbrassart.me/#socialmedia" : "#socialmedia"%> >Social media</option>
            <option value = <%= @post ? "http://bbrassart.me/#cv" : "#cv"%> >CV</option>
            <option value = <%= @post ? "http://bbrassart.me/#contact" : "#contact"%> >Contact</option>
          </select>
        </div>
    </div>
</div>
