<div class="splash-container">
    <div class="splash">
      <h1 class="splash-head">Welcome to my site</h1>
        <p class="splash-subhead">
            Ruby and Javascript developer  //  Board culture activist
        </p>
        <p>
            <a href="#blog" class="pure-button pure-button-primary">Visit my blog</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
  <%= render "helpers/projects.html.erb" %>
  <%= render "helpers/blog.html.erb" %>
  <%= render "helpers/github.html.erb" %>
  <%= render "helpers/social_media.html.erb" %>
  <%= render "helpers/cv.html.erb" %>
  <%= render "helpers/contact_form.html.erb" %>
