<%= render partial: "helpers/blog_navbar" %>
<div class="content" id="blog">
  <h2 class="content-head is-center">Blog #Unchained</h2>
  <div class="posts">
    <p>Post <%=@post.currentIndex + 1%> out of 4</p>
      <section class="post">
        <header class="post-header">
          <img class="post-avatar" alt="Baptiste's avatar"
            height="48" width="48" src="<%=@post.author_logo%>">
            <h2 class="post-title"><%=@post.title%></h2>`
              <p class="post-meta">
                <a class="post-author" href="#"><%=@post.author%></a> under
                <% @post.tags.each_with_index do |tag, index|
                  tag_colors = ["design", "pure", "js", "yui"]
                  color = tag_colors[index] %>
                  <a class='post-category post-category-<%=color%>'><%= tag %></a>
                <%end%>
                  </p>
                </header><img alt="<%=@post.image_caption%>" class="first--image__post pure-img-responsive"
                  src="<%=@post.image%>"><%=@post.intro.html_safe %>
                  <p class="post-meta"><%=@post.date%></p>
                  <%=@post.text.html_safe%>
                </div>
              </div>
